apiVersion: v1
kind: Service
metadata:
  name: {{ name }}
  namespace: {{ namespace }}
  labels:
    app: {{ name }}
    autopoc.io/project: {{ project_name }}
spec:
  type: {{ service_type | default("ClusterIP") }}
  selector:
    app: {{ name }}
  ports:
  - port: {{ port }}
    targetPort: {{ target_port | default(port) }}
    protocol: TCP
    name: http
